/*==========  Desktop First Method  ==========*/
/*4k*/
@media only screen and (min-width: 2560px) {
  i {
    font-size: 80px;
  }

  .current_number {
    font-size: 40px;
  }

  .logo img {
    width: 22%;
  }

  .description h1 {
    font-size: 120px;
  }

  header a {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1152px) {
  .logo img {
    width: 10%;
  }

  section.img_album h4 {
    font-size: 60px;
  }
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .logo img {
    width: 8%;
  }

  section.guide {
    padding-top: 42vh;
  }

  header .description h1 {
    font-size: 51px;
    line-height: 1.2;
    left: -15.5%;
  }

  section.poster .container h4 {
    font-size: 60px;
  }
  section.poster .container .info_text {
    left: 12vw;
  }
}
@media only screen and (max-width: 960px) {
  section.guide {
    padding-top: 50vh;
  }

  section.interesting_places h4 {
    font-size: 30px;
  }
  section.interesting_places p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 854px) {
  section.about_us .line {
    width: 30%;
  }

  section.guide {
    padding-top: 65vh;
  }
  section.guide a {
    font-size: 30px;
    line-height: 100px;
  }

  section.poster .container p {
    font-size: 18px;
  }

  section.img_album h4 {
    font-size: 50px;
  }
  section.img_album p {
    font-size: 25px;
  }

  footer .contacts {
    margin: 12vh 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  section.guide .gallery, section.interesting_places .gallery {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  section.guide .block, section.interesting_places .block {
    width: 60vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
  }
  section.guide img, section.interesting_places img {
    width: 50vw;
  }

  header .description h1 {
    font-size: 40px;
    line-height: 1.2;
    left: -17.4%;
  }
}
@media only screen and (max-width: 678px) {
  section.img_album h4 {
    font-size: 40px;
  }
  section.img_album p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 632px) {
  section.poster .container h4 {
    font-size: 50px;
  }

  header .description h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 588px) {
  footer h4 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 524px) {
  section.poster .container .info_text {
    left: 13.7vw;
  }
  section.poster .container h4 {
    font-size: 40px;
  }
  section.poster .container p {
    font-size: 15px;
  }

  section.img_album h4 {
    font-size: 30px;
  }
  section.img_album p {
    font-size: 18px;
  }

  section.about_us p {
    font-size: 18px;
  }

  section.img_album img {
    top: -15vh;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 436px) {
  header .description h1 {
    font-size: 20px;
    left: -14%;
  }

  .content a {
    font-size: 14px;
  }
  .content i {
    font-size: 30px;
  }
  .content .current_number {
    margin: 15px 0;
    font-size: 10px;
  }

  section.img_album {
    padding-top: 0;
    padding-bottom: 5vh;
  }
  section.img_album h4 {
    font-size: 25px;
  }
  section.img_album p {
    font-size: 14px;
  }

  section.about_us .container {
    width: 80%;
  }

  section.interesting_places h4 {
    font-size: 25px;
  }

  footer h4 {
    font-size: 30px;
  }
  footer i {
    font-size: 30px;
  }
  footer h5 {
    font-size: 10px;
  }

  section p {
    font-size: 14px;
  }

  section h4 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 400px) {
  section.img_album img {
    top: -12vh;
  }

  section.poster .container .info_text {
    left: 17vw;
  }

  section.img_album img {
    width: 50vw;
  }
}
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=media.css.map */
