section {
  background: #edece9;
  display: flex;
  color: #1f1e1e;
}
section h4 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 40px;
}
section p {
  font-size: 19px;
}
section .container a, section .container #places {
  color: #1f1e1e;
  font-size: 50px;
  font-weight: normal;
  cursor: default;
  text-decoration: none;
  text-align: center;
  line-height: 140px;
}
section .line {
  margin: auto;
  border: 1px solid #1f1e1e;
  width: 20vh;
}

section.guide, section.interesting_places {
  padding-top: 10vh;
  justify-content: center;
}
section.guide .gallery, section.interesting_places .gallery {
  margin-top: 110px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section.guide .block, section.interesting_places .block {
  width: 34vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}
section.guide img, section.interesting_places img {
  width: 35vw;
  transition: 2.5s ease-out;
}
section.guide img:hover, section.interesting_places img:hover {
  transform: scale(1.09, 1.09);
  box-shadow: 21px 17px 32px -1px rgba(0, 0, 0, 0.75);
}

section.poster {
  margin: 0;
  justify-content: flex-end;
  padding: 20vh 0;
}
section.poster .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section.poster .container h4 {
  font-size: 80px;
}
section.poster .container .info_text {
  position: relative;
  left: 10.2vw;
}
section.poster .container p {
  font-size: 25px;
}
section.poster .container img {
  width: 70vw;
}

section.img_album {
  margin: 0;
  padding: 20vh 0;
  display: block;
}
section.img_album .container {
  width: 80%;
  display: block;
  margin: auto;
}
section.img_album .left_part {
  position: relative;
}
section.img_album .right_part {
  position: relative;
  left: -5vw;
}
section.img_album .img_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vh 5vw;
  border-bottom: 1px solid #d3d1d0;
}
section.img_album .img_desc:hover img {
  z-index: 1;
  display: block;
  box-shadow: 21px 17px 32px -1px rgba(0, 0, 0, 0.75);
}
section.img_album .img_desc:hover p {
  display: none;
}
section.img_album .img_desc:hover .right_part {
  z-index: 2;
  color: lightslategrey;
}
section.img_album img {
  position: absolute;
  top: -20vh;
  display: none;
  width: 45vw;
}
section.img_album h4 {
  font-size: 90px;
}
section.img_album p {
  font-size: 30px;
}

section.interesting_places h4 {
  text-align: center;
}
section.interesting_places p {
  font-size: 25px;
}
section.interesting_places .block {
  overflow: hidden;
}
section.interesting_places img:hover {
  transform: scale(1.06);
  box-shadow: none;
}

section.about_us {
  justify-content: center;
  padding: 15vh 0;
  position: relative;
}
section.about_us .line {
  width: 12%;
}
section.about_us .container {
  width: 60vw;
}
section.about_us .history {
  padding: 5vh 0;
  text-align: center;
}
section.about_us p {
  font-size: 21px;
  padding-bottom: 2vh;
}

/*# sourceMappingURL=section.css.map */
