#Ignore files and folders in "education" folder
education/.idea/
education/app/
education/node_modules/
education/package-lock.json
company/.idea/
voyage/.idea/
voyage/package-lock.json
voyage/node_modules/
cars/.idea
cars/package-lock.json
cars/node_modules
.idea/
