#Ignore files and folders in "education" folder
education/.idea/
education/app/
education/node_modules/
education/package-lock.json
company/.idea/
voyage/.idea/
voyage/src/video/
voyage/src/img/
!/voyage/src/video/716209402.mp4