@mixin forLinks($color,$size, $weight, $cursor){
  color: $color;
  font-size: $size;
  font-weight: $weight;
  cursor: $cursor;
  text-decoration: none;
  text-align: center;
}

$hover_color: #928b87;
$bg: #edece9;
$dark_color:#1f1e1e;
$line : #d3d1d0;

section{
  background: $bg;
  display: flex;
  color: $dark_color;
  h4{
    padding: {
      top: 20px;
      bottom: 10px;};
    font-size: 40px;
  }
  p{
    font-size: 19px;
  }
  .container {
    a {
      @include forLinks($dark_color, 50px, normal, default);
      line-height: 140px;
    }
  }
  .line{
    margin: auto;
    border: 1px solid $dark_color;
    width: 20vh;
  }
}
section.guide{
  padding-top: 10vh;
  justify-content: center;
    .gallery{
      margin: {
        top:110px;
      };
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .block{
      width: 34vw;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 40px;
    }
    img{
      width: 35vw;
      transition: 2.5s ease-out;
      &:hover{
        transform: scale(1.09,1.09);
        box-shadow: 21px 17px 32px -1px rgba(0,0,0,0.75);
      }
    }
  }

section.poster{
  justify-content: flex-end;
  padding: 20vh 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    h4{
      font-size: 80px;
    }
    .info_text{
      position: relative;
      left: 10.2vw;
    }
    p{
      font-size: 25px;
    }
    img {
      width: 70vw;
    }
  }
}

section.img_album{
  padding: 20vh 0;
  display: block;
  .container{
    width: 80%;
    display: block;
    margin: auto;
  }
  .left_part{
    position: relative;
  }
  .right_part{
    position: relative;
    left: -5vw;
  }
  .img_desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6vh 5vw;
    border-bottom: 1px solid $line;
    &:hover{
      img{
        z-index: 1;
        display: block;
        box-shadow: 21px 17px 32px -1px rgba(0,0,0,0.75);
      }
      p{
        display: none;
      }
      .right_part{
        z-index: 2;
        color: lightslategrey;
      }
    }
  }
  img{
    position: absolute;
    top: -20vh;
    display: none;
    width: 45vw;
  }
  h4{
    font-size: 90px;
  }
  p{
    font-size: 30px;
  }
}

section.photo_album{
  
}


section.about_us{
  justify-content: center;
  padding: 3vh 0;
  position: relative;
  .line{
    width: 12%;
  }
  .container{
    width: 60vw;
  }
  .history{
    padding: 7vh 0;
    text-align: center;
  }
  p{
    font-size: 21px;
    padding-bottom: 2vh;
  }
}

